@use "variables.scss";
.confrim-delete {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  .confrim-delete-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    p {
      margin: 10px;
    }
    .no-button {
      background-color: variables.$green-color;
      margin: 10px 20px;
    }
    .yes-button {
      background-color: #ff003f;
      margin: 10px 20px;
    }
  }
}

.events-button {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: fit-content;
  min-width: 60px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  svg {
    margin-left: 15px;
  }
}
