.dashboard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  &-content {
    width: 90%;
  }
  &-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px grey;
    min-height: 300px;
    .dashboard-unchecked-container {
      width: 100%;
    }
    h1 {
      margin-bottom: 30px;
      justify-self: flex-start;
    }
    p {
      margin: auto 0;
    }
    .unchecked-todo {
      width: 100%;
    }
  }
}
