@use "variables.scss";

.navbar-container {
  background-color: variables.$navbar-background-color;
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 2% 0 0;
    height: 60px;
    align-items: center;
    .logo {
      a {
        color: white;
        text-decoration: none;
      }
      &-colored-part {
        color: variables.$main-color;
        cursor: pointer;
      }
    }
    .notif-user {
      display: flex;
      justify-content: space-between;
      color: variables.$sec-color;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
        &:nth-child(2) {
          width: 20px;
          height: 20px;
          padding: 5px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          margin-left: 20px;
        }
      }
    }
    .nav-signin {
      text-decoration: none;
      padding: 10px;
      border-radius: 5px;
      background-color: variables.$main-color;
      color: white;
      border: none;
      font-weight: 700;
    }
  }
  .popup {
    position: absolute;
    background-color: white;
    right: 1%;
    top: 70px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    z-index: 99;
    box-shadow: 0 0 10px grey;
    hr {
      margin: 15px 0;
    }
    &-user {
      width: fit-content;
      button {
        border: none;
        background-color: transparent;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        color: variables.$main-color;
      }
    }
    &-notification {
      width: 300px;
      h5 {
        margin: 20px 0;
      }
    }
  }
}

.toggle-sidebar {
  display: flex;
  align-items: center;

  margin-left: 10px;
  p {
    position: fixed;
    color: white;
    margin-left: 5px;
    font-size: 15px;
    left: -250px;
    transition: left 0.3s ease-in-out;
  }
  svg {
    background-color: variables.$background-color;
    border-radius: 3px;
    padding: 4px;
    cursor: pointer;

    transition: transform 0.5s ease;
  }
  &.open p {
    left: 35px;
  }
  &.open svg {
    transform: rotate(-180deg);
  }
}
