.sidebar {
  display: flex;
  position: relative;
  width: 0;
  flex-direction: column;
  margin: 10px 0;
  left: -20%;
  height: calc(100% - 60px);
  transition: left 0.3s linear, width 0.3s linear;
  a {
    text-decoration: none;
    color: black;
    font-weight: 1000;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    &:hover,
    &.active {
      background-color: #ff4200;
      border-radius: 3px;
      box-shadow: 0 0 10px grey;
    }
  }
  &.open {
    left: 0;
    width: 10%;
    transition: left 0.3s linear, width 0.3s linear;
  }
}

//Media queries
@media (max-width: 1055px) {
  .sidebar.open {
    width: 11%;
  }
}
@media (max-width: 975px) {
  .sidebar {
    background-color: white;
    box-shadow: 0 0 5px grey;
    position: absolute;
    z-index: 9;
    margin: 0;
    left: -200px;
    &.open {
      width: 160px;
      height: 100%;
    }
  }
}
