@use 'variables.scss';
.rbc-day-bg{
    background-color: white;
    &.rbc-off-range-bg{
        background-color: hsl(0, 0%, 85%);
        border: 1px solid hsl(0, 0%, 80%);
    }
    &.rbc-today{
        background-color: hsl(46, 100%, 90%);
    }
}
.rbc-off-range{
    .rbc-button-link{
        color: black;
    }
}

.rbc-header{
    background-color: white;
}
.rbc-toolbar{
    button{
        cursor: pointer;
        &:active{
            background-color: variables.$main-color;
            color: white;
        }
        &:active:focus{
            background-color: variables.$main-color;
            color: white;
        }
        &:hover{
            background-color: variables.$main-color;
            color: white;
        }
        &.rbc-active{
            background-color: variables.$main-color;
            color: white;
            &:focus{
                background-color: variables.$main-color;  
                color: white; 
            }
            &:hover{
                background-color: variables.$main-color;  
                color: white; 
            }
        }
    }
}

.rbc-btn-group{
    button{
        background-color: white;
    }
}


@for $i from 1 through 50 {
    $color-index: $i % length(variables.$events-colors) + 1; 
    .rbc-row:nth-child(#{$i}) .rbc-row-segment .rbc-event {
      background-color: nth(variables.$events-colors, $color-index);
    }
  }

.rbc-agenda-view, .rbc-time-view{
    background-color: white;
    .rbc-agenda-date-cell{
        border: 1px solid #ddd;
    }
}

