@use "variables.scss";
.todo-page {
  &-contianer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .todo-page {
      width: 100%;
      padding: 10px 50px;
      transition: width 0.3s linear;
      &.open {
        width: 90%;
      }
      h1 {
        margin: 30px 0;
        text-align: center;
      }
    }
  }
}
.todo-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  width: 50%;
  input {
    background-color: #c4c4c4;
    padding: 12px 20px;
    width: 85%;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: 600;
    outline: none;
    box-shadow: 0 0 5px grey;
    &::placeholder {
      color: hsl(0, 0%, 35%);
    }
    &:focus {
      border: 2px solid variables.$main-color;
      transition: border 0.3s ease;
    }
  }
  button {
    min-width: 15%;
    white-space: nowrap;
    padding: 12px 20px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: variables.$main-color;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 1000;
    box-shadow: 0 0 5px grey;
  }
}
.unchecked-todo,
.checked-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 500px;
  overflow-y: auto;
  margin: 0 auto;
  width: 55%;
  .todo-item {
    display: flex;
    align-items: center;
    width: 95%;
    background-color: #17141f;
    border-radius: 5px;
    padding: 40px 20px 20px 20px;
    position: relative;
    color: white;
    margin: 10px 0;
    box-shadow: 0 0 5px black;
    &-toolbox {
      width: 80px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      position: absolute;
      top: 15%;
      right: 2%;
      svg {
        cursor: pointer;
        &:hover {
          color: variables.$main-color;
          transition: color 0.3s ease;
        }
      }
    }
  }

  .in-item-todo-input {
    width: 100%;
    display: flex;
    align-items: center;
    input {
      background-color: hsl(0, 0%, 30%);
      color: white;
      padding: 5px;
      min-width: 80%;
      border: 2px solid black;
      border-radius: 4px;
      font-weight: 600;
      outline: none;
      &:focus {
        border: 1px solid variables.$main-color;
        transition: border 0.3s ease;
      }
    }
    button {
      white-space: nowrap;
      width: fit-content;
      padding: 3.5px;
      margin-left: 10px;
      border-radius: 5px;
      background-color: variables.$green-color;
      color: white;
      border: none;
      cursor: pointer;
      font-weight: 1000;
      svg {
        margin-left: 10px;
      }
    }
  }
}
.checked-todo {
  margin-bottom: 20px;
}

// Media queries
@media (max-width: 975px) {
  .todo-page {
    &-contianer {
      .todo-page {
        &.open {
          width: 100%;
        }
      }
    }
  }
  .todo-input {
    width: 90%;
  }
  .unchecked-todo,
  .checked-todo {
    width: 100%;
    .todo-item {
      width: 95%;
    }
  }
}
@media (max-width: 650px) {
  .todo-page {
    &-contianer {
      .todo-page {
        padding: 10px;
        &.open {
          width: 100%;
        }
      }
    }
  }
  .unchecked-todo {
    .todo-item {
      width: 95%;
    }
    .in-item-todo-input {
      width: 70%;
    }
  }
}
@media (max-width: 400px) {
  .unchecked-todo {
    .in-item-todo-input {
      button {
        svg {
          width: 15px;
          margin-left: 0px;
        }
      }
    }
  }
}
