@use "variables.scss";
.week-plan {
  width: 100%;
}
.timeline {
  margin: 20px auto;
  width: 510px;
  .timeline-day {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: left;
    .timeline-time {
      border: 1px solid black;
      background-color: hsl(0, 0%, 80%);
      width: fit-content;
      padding: 2px 5px;
      border-radius: 5px;
    }
    .timeline-title {
      margin-top: 10px;
      border-radius: 5px;
      font-size: 18px;
      width: fit-content;
    }
    hr {
      height: 1px;
      margin-top: 15px;
      border: none;
      background-color: red;
    }
  }
  // timeline, the line and the dot
  .css-v6mo1y-MuiTimelineDot-root,
  .css-1ami7lv-MuiTimelineConnector-root {
    background-color: variables.$main-color;
  }
}
