.calendar-page {
  position: relative;
}
.calendar-page .calendar-page-contianer {
  display: flex;
  justify-content: space-between;
}
.calendar-page .calendar-page-contianer .sidebar {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.calendar-page .calendar-page-contianer .sidebar a {
  text-decoration: none;
  color: black;
  font-weight: 1000;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
}
.calendar-page .calendar-page-contianer .sidebar a:hover, .calendar-page .calendar-page-contianer .sidebar a.active {
  background-color: #ff4200;
  border-radius: 3px;
  box-shadow: 0 0 10px grey;
}
.calendar-page .calendar-page-contianer .the-calendar {
  width: 90%;
  height: calc(100dvh - 60px);
}
.calendar-page .calendar-page-contianer .the-calendar .edit-event-popup {
  position: absolute;
  background-color: white;
  padding: 30px 10px 10px 10px;
  border-radius: 4px;
  width: 300px;
  z-index: 99;
  box-shadow: 0 0 10px grey;
}
.calendar-page .calendar-page-contianer .the-calendar .edit-event-popup .edit-icons {
  margin-right: 10px;
}
.calendar-page .calendar-page-contianer .the-calendar .edit-event-popup .events-button {
  cursor: pointer;
  padding: 5px;
  width: fit-content;
  min-width: 60px;
  font-size: 18px;
  color: white;
  font-weight: 700;
}
.calendar-page .calendar-page-contianer .the-calendar .edit-event-popup .events-button svg {
  margin-left: 10px;
}
.calendar-page .calendar-page-contianer .the-calendar .edit-event-popup .close-icon {
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
}
.calendar-page .calendar-page-contianer .the-calendar .edit-event-popup .edit-event-popup-buttons {
  display: flex;
  justify-content: space-between;
}
.calendar-page .calendar-page-contianer .the-calendar .edit-event-popup .edit-button {
  background-color: #ff9001;
}
.calendar-page .calendar-page-contianer .the-calendar .edit-event-popup .delete-button {
  background-color: black;
}
.calendar-page .calendar-page-contianer .the-calendar h3 {
  text-align: center;
  margin: 5px 0;
}
.calendar-page .calendar-page-contianer .the-calendar p {
  font-size: 17px;
  margin: 5px 0;
}
.calendar-page .calendar-page-contianer .popup-event {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-page .calendar-page-contianer .popup-event.close-event-popup {
  display: none;
}
.calendar-page .calendar-page-contianer .popup-event .add-event {
  background-color: white;
  padding: 30px;
  width: fit-content;
  min-width: 455px;
  position: relative;
  border-radius: 10px;
}
.calendar-page .calendar-page-contianer .popup-event .add-event .close-icon {
  font-size: 20px;
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
}
.calendar-page .calendar-page-contianer .popup-event .add-event .label-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.calendar-page .calendar-page-contianer .popup-event .add-event .label-container .label-icon {
  position: relative;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.calendar-page .calendar-page-contianer .popup-event .add-event .label-container .label-icon svg {
  margin-right: 10px;
}
.calendar-page .calendar-page-contianer .popup-event .add-event .label-container input:nth-child(2),
.calendar-page .calendar-page-contianer .popup-event .add-event .label-container textarea {
  margin-left: 30px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  resize: vertical;
}
.calendar-page .calendar-page-contianer .popup-event .add-event .label-container input:nth-child(2):focus,
.calendar-page .calendar-page-contianer .popup-event .add-event .label-container textarea:focus {
  border: 2px solid #FF4200;
}
.calendar-page .calendar-page-contianer .popup-event .add-event .label-container .time-details {
  margin: 0 0 10px 30px;
  display: flex;
  align-items: center;
}
.calendar-page .calendar-page-contianer .popup-event .add-event .label-container .time-details .date-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.calendar-page .calendar-page-contianer .popup-event .add-event .label-container .time-details label {
  margin-right: 5px;
  width: 60px;
  display: inline-block;
}
.calendar-page .calendar-page-contianer .popup-event .add-event .label-container .time-details input {
  width: 105px;
  padding: 6px 0 6px 10px;
}
.calendar-page .calendar-page-contianer .popup-event .add-event .label-container .time-details .choose-time {
  width: 135px;
}
.calendar-page .calendar-page-contianer .popup-event .save-button {
  float: right;
  background-color: #ff4200;
}
.calendar-page .calendar-page-contianer .popup-event .delete-button {
  float: left;
  background-color: black;
}
.calendar-page .calendar-page-contianer .popup-event .error-message {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-page .calendar-page-contianer .popup-event .error-message .error-message-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}
.calendar-page .calendar-page-contianer .popup-event .error-message .error-message-popup p {
  margin: 10px;
  font-size: 18px;
  text-align: center;
}
.calendar-page .calendar-page-contianer .popup-event .error-message .error-message-popup button {
  background-color: #33b864;
  margin: 10px 20px;
  font-size: 15px;
}
.calendar-page .calendar-page-contianer .events-button {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: fit-content;
  min-width: 60px;
  font-size: 20px;
  color: white;
  font-weight: 700;
}
.calendar-page .calendar-page-contianer .events-button svg {
  margin-left: 15px;
}
.calendar-page .calendar-page-contianer .confrim-delete {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-page .calendar-page-contianer .confrim-delete .confrim-delete-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}
.calendar-page .calendar-page-contianer .confrim-delete .confrim-delete-popup p {
  margin: 10px;
}
.calendar-page .calendar-page-contianer .confrim-delete .confrim-delete-popup .no-button {
  background-color: #33b864;
  margin: 10px 20px;
}
.calendar-page .calendar-page-contianer .confrim-delete .confrim-delete-popup .yes-button {
  background-color: #ff003f;
  margin: 10px 20px;
}/*# sourceMappingURL=calendarPage.css.map */